@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Info utilisateur";
}
@functions{
    public void GetGroupsRecursively(WebApplication1.Models.GroupModel currentGroup)
    {
        WriteLiteral("<ul>");
        foreach (var children in currentGroup.childrens)
        {
            WriteLiteral("<li>");
            Write(children.currentGroup.Properties["cn"].Value);
            WriteLiteral("</li>");
            GetGroupsRecursively(children);
        }
        if (currentGroup.notLoadedGroups)
        {
            WriteLiteral("<i>etc...</i>");
        }
        WriteLiteral("</ul>");
    }
}

<div class="row">
    <div class="col-lg-3"><strong>Identifiant:</strong> @ViewBag.User.Properties["samAccountName"]</div>
    <div class="col-lg-3"><strong>Nom:</strong> @ViewBag.User.Properties["sn"]</div>
    <div class="col-lg-3"><strong>Prénom:</strong> @ViewBag.User.Properties["givenName"]</div>
    <div class="col-lg-3"><strong>Description:</strong> @ViewBag.User.Properties["description"]</div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>Bureau:</strong> @ViewBag.User.Properties["physicalDeliveryOfficeName"]</div>
    <div class="col-lg-3"><strong>Numéro de téléphone:</strong> @ViewBag.User.Properties["telephoneNumber"]</div>
    <div class="col-lg-6"><strong>E-mail:</strong> @ViewBag.User.Properties["mail"]</div>
</div>
<br />
<div class="row">
    <div class="col-lg-6">
        <h4>Adresse:</h4>
        <p>@ViewBag.User.Properties["StreetAddress"]<br />@ViewBag.User.Properties["postalCode"] / @ViewBag.User.Properties["l"] (@ViewBag.User.Properties["st"])<br />@ViewBag.User.Properties["co"]</p>
    </div>
    <div class="col-lg-6">
        <h4>Téléphone:</h4>
        <p>Home: @ViewBag.User.Properties["homePhone"]<br />Pager: @ViewBag.User.Properties["pager"]<br />Mobile: @ViewBag.User.Properties["mobile"]<br />Fax: @ViewBag.User.Properties["facsimileTelephoneNumber"]<br />IP Phone: @ViewBag.User.Properties["ipPhone"]</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h4>Supérieur:</h4>
        <p>
            @if (ViewBag.User.GetManager() != null)
            {
                <a href="~/Info/Detail/@ViewBag.User.GetManager().Properties["samAccountName"]">@ViewBag.User.GetManager().Properties["cn"]</a>
            }
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Subordonnés directs:</h4>
        <ul>
            @foreach (var report in ViewBag.User.GetDirectReports())
            {
                <li><a href="~/Info/Detail/@report.Properties["samAccountName"]">@report.Properties["cn"]</a></li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Groupes:</h4>
        <ul>
            @foreach (var group in ViewBag.User.GetGroups())
            {
                <li><a onclick="javascript:getSubGroups(this);" data-distinguished-name="@group.Properties["distinguishedName"].Value"><i class="fas fa-caret-right"></i></a> @group.Properties["cn"].Value <a href="~/Info/Group/@group.Properties["samAccountName"].Value"><i class="fas fa-external-link-alt"></i></a></li>
                //GetGroupsRecursively(group);
            }
        </ul>
    </div>
</div>
<script>
    function getSubGroups(obj) {
        if ($(obj).parent().find("ul").length == 0) {
            $.post({
                url: "/Info/AjaxSubGroups",
                data: { distinguishedName: obj.dataset.distinguishedName },
                success: function (result) {
                    $(result).hide().appendTo($(obj).parent()).show('normal');
                    $(obj).find("i").removeClass("fa-caret-right");
                    $(obj).find("i").addClass("fa-caret-down");
                }
            });
        } else {
            $(obj).parent().find("ul").toggle('normal');
            $(obj).find("i").toggleClass("fa-caret-right");
            $(obj).find("i").toggleClass("fa-caret-down");
        }
    }
</script>