@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Rechercher un utilisateur";
}

<form action="/Info/Find" method="post">
    <input type="text" name="username" id="username" />
    <input type="submit" />
</form>

@if (ViewBag.Users != null)
{
    <table class="table">
        <tr>
            <th>Identifiant</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Numéro de téléphone</th>
            <th>Adresse de messagerie</th>
            <th>Société</th>
        </tr>
        @foreach (var usr in ViewBag.Users)
        {
            <tr>
                <td><a href="~/Info/Detail/@usr.Properties["samAccountName"]">@usr.Properties["samAccountName"]</a></td>
                <td>@usr.Properties["givenName"]</td>
                <td>@usr.Properties["sn"]</td>
                <td>@usr.Properties["description"]</td>
                <td>@usr.Properties["telephoneNumber"]</td>
                <td>@usr.Properties["mail"]</td>
                <td>@usr.Properties["company"]</td>
            </tr>
        }
    </table>
}