@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Info utilisateur";
}

@if (ViewBag.User != null)
{
    <table>
        <tr><th>Prénom</th><td>@ViewBag.User.Properties["givenName"]</td></tr>
        <tr><th>Nom</th><td>@ViewBag.User.Properties["sn"]</td></tr>
        <tr><th>Nom complet</th><td>@ViewBag.User.Properties["displayName"]</td></tr>
        <tr><th>Description</th><td>@ViewBag.User.Properties["description"]</td></tr>
        <tr><th>Bureau</th><td>@ViewBag.User.Properties["physicalDeliveryOfficeName"]</td></tr>
        <tr><th>Numéro de téléphone</th><td>@ViewBag.User.Properties["telephoneNumber"]</td></tr>
        <tr><th>Adresse de messagerie</th><td>@ViewBag.User.Properties["mail"]</td></tr>
        <tr><th>Ville</th><td>@ViewBag.User.Properties["l"]</td></tr>
        <tr><th>Région</th><td>@ViewBag.User.Properties["st"]</td></tr>
        <tr><th>Code postal</th><td>@ViewBag.User.Properties["postalCode"]</td></tr>
        <tr><th>Pays</th><td>@ViewBag.User.Properties["co"]</td></tr>
        <tr><th>Nom d'ouverture de session</th><td>@ViewBag.User.Properties["userPrincipalName"]</td></tr>
        <tr><th>Date d'expiration du compte</th><td>@ViewBag.User.GetAccountExpires()</td></tr>
        <tr><th>Dossier de base</th><td>@ViewBag.User.Properties["homeDirectory"]</td></tr>
        <tr><th>Téléphone IP</th><td>@ViewBag.User.Properties["ipPhone"]</td></tr>
        <tr><th>Fonction</th><td>@ViewBag.User.Properties["title"]</td></tr>
        <tr><th>Service</th><td>@ViewBag.User.Properties["department"]</td></tr>
        <tr><th>Société</th><td>@ViewBag.User.Properties["company"]</td></tr>
        <tr><th>extentionAttribute1</th><td>@ViewBag.User.Properties["extensionAttribute1"]</td></tr>
        <tr><th>Membre de</th><td>@ViewBag.User.Properties["memberOf"]</td></tr>
    </table>
    <strong>Groupes</strong>
    <ul>
        @foreach (var group in ViewBag.Groups)
        {
            <li>@group</li>
        }
    </ul>
}
